p, h1, h5, h3, span {
    font-family: Arial, Helvetica, sans-serif;
}

p, span {
    font-size: 12px;
}

.name {
    color: pink; 
}

.directions {
    font-size: 9px;
}
.food1 {
    color: lightcoral;
}
.food2 {
    color: hotpink; 
}
.within {
    color: black;
}