/* This is Kay's repo, forked. I put Helvetica in single quotes */

p, h1, h5, h3, span {
    font-family: Arial, 'Helvetica', sans-serif;
}

p, span {
    font-size: 12px;
}

.name {
    color: pink; 
}

#directions {
    font-size: 9px;
}
span.food1 {
    color: lightcoral;
}
span.food2 {
    color: orchid; 
}
#within {
    color: black;
}
.role {
    color: teal;
}
.role2 {
    color: grey;
}
.role1 {
    color: lightseagreen;
}
.image {
    width: 300px;
    height: 300px;
}

